/* 共通CSS
------------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/* body
------------------------------------------------------------------------- */
body {
  background: linear-gradient(90deg,rgb(70,44,11),rgb(139,96,51),rgb(70,44,11));
}
/* ヘッダー
------------------------------------------------------------------------- */
header {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  z-index: 10;
  padding: 5px 0;
  background: linear-gradient(90deg,rgb(0,40,60),rgb(0,66,110),rgb(0,40,60));
  border: solid 2px rgb(224,206,10);
  color: #fff;
  text-align: center;
  box-shadow: 0 2px 2px 2px #000;
  .header-title {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
  }
  // 各陣営の人数表
  .number-of-position {
    display: inline-block;
    border: solid 2px rgb(199,165,47);
    background: linear-gradient(90deg,rgb(93,15,38),rgb(148,25,58),rgb(93,15,38));
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.6) inset;
    thead th {
      width: 100px;
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
    tbody td {
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      text-align: center;
      border-radius: 8px;
      background-color: rgba(0,0,0,.2);
    }
  }
  // 屋敷人数
  .survivor-block {
    margin-bottom: 5px;
    font-size: 14px;
    .survivor-select {
      margin-right: 5px;
      width: 70px;
    }
  }
  // 参加役職
  .position-image-table {
    .position-block {
      display: inline-block;
      width: 34px;
      transition: all .3s;
      .position-number {
        font-size: 12px;
      }
      .position-image {
        width: 100%;
        box-shadow: 2px 4px 2px #000;
      }
      .bg-camp {
        display: block;
        height: 4px;
      }
      span.camp-citizen {
        background: linear-gradient(90deg,rgba(185,176,58,.6),rgb(185,176,58),rgba(185,176,58,.6));
      }
      span.camp-werewolf {
        background: linear-gradient(90deg,rgba(200,0,0,.6),rgb(200,0,0),rgba(200,0,0,.6));
      }
      span.camp-garbledfox {
        background: linear-gradient(90deg,rgba(188,48,255,.6),rgb(188,48,255),rgba(188,48,255,.6));
      }
      span.camp-zombie {
        background: linear-gradient(90deg,rgba(0,0,255,.6),rgb(110,110,255),rgba(0,0,255,.6));
      }
      span.camp-other {
        background: linear-gradient(90deg,rgba(0,180,0,.6),rgb(0,180,0),rgba(0,180,0,.6));
      }
      span.camp-couple {
        background: linear-gradient(90deg,rgba(180,0,85,.6),rgb(223, 90, 153),rgba(180,0,85,.6));
      }
    }
    .hidden {
      opacity: 0;
    }
  }
}

/* メイン
------------------------------------------------------------------------- */
.character-select-section {
  margin: 220px -15px 0;
  padding: 10px 15px;
  border: 2px solid rgb(199,165,47);
  background: linear-gradient(90deg,rgb(70,0,0),rgb(110,0,0),rgb(70,0,0));
  text-align: center;
  // 各陣営毎のブロック
  .camp-section {
    .tap-button {
      display: none;
    }
    // 陣営名
    .camp-name {
      height: 1.5rem;
      background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,.4),rgba(0,0,0,0));
      border-bottom: 1px solid #333;
      .camp-name-image {
        height: 100%;
        filter: drop-shadow(2px 0 1px #000);
      }
    }
    // 役職一覧表
    .positions {
      // 各役職ボックス
      .position {
        display: inline-block;
        box-sizing: border-box;
        margin: 10px 0;
        padding: 5px 0 8px;
        width: 110px;
        font-size: 12px;
        color: #fff;
        border: 2px solid rgb(199,165,47);
        background: linear-gradient(90deg,rgb(73,31,0),rgb(80,31,0),rgb(73,31,0));
        box-shadow: 2px 2px 3px 1px #000 inset;
        .position-image {
          width: 50px;
          height: 67px;
        }
        .position-name {
          background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,.3),rgba(0,0,0,0));
        }
        .position-count {

        }
        .position-button {
          color: rgb(255,200,0);
          text-shadow: 0 2px #333;
          border: 1px solid rgb(247,142,42);
          background: linear-gradient(rgb(150,0,0),rgb(230,0,0));
          box-shadow: 2px 5px #000;
          cursor: pointer;
          &:active {
            position: relative;
            top: 2px;
            box-shadow: .5px 3px #000;
          }
        }
        button.citizen-button {
          opacity: 0;
          pointer-events: none;
        }
        button.events-none {
          pointer-events: none;
          filter: brightness(.5);
        }
      }
      .selected {
        background: linear-gradient(90deg,rgb(120,60,0),rgb(170,100,0),rgb(120,60,0));
      }
    }
  }
}

/* フッター
------------------------------------------------------------------------- */
footer {
  padding: 10px 0;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  box-pack: justify;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -ms-box-pack: justify;
  a {
    display: block;
    padding: 2px 5px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255,200,0);
    background: linear-gradient(rgb(150,0,0),rgb(230,0,0));
    border: 2px solid rgb(247,142,42);
    box-shadow: 2px 2px #000;
  }
}

/* 中画面PC用レスポンシブ
------------------------------------------------------------------------- */
@media screen and (max-width:1400px) {
  .container {
    width: 970px;
  }
}
@media screen and (max-width:1100px) {
  .container {
    width: 870px;
  }
}
/* スマホ画面用
------------------------------------------------------------------------- */
@media screen and (max-width:420px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0 5px;
    box-sizing: border-box;
  }
  // ヘッダー
  header {
    padding: 5px;
    // height: 300px;
    .header-title {
      font-size: 12px;
      letter-spacing: 1px;
    }
    .number-of-position {
      display: none;
    }
    .survivor-block {
      font-size: 12px;
    }
  }
  // メイン
  .character-select-section {
    margin: 310px 0 0;
    padding: 10px 5px;
    .camp-section {
      position: relative;
      .tap-button {
        display: block;
        position: absolute;
        top: 3px;
        right: 10px;
        z-index: 5;
        width: 60px;
        padding: 0 4px;
        font-size: 12px;
        color: rgba(255,255,255,.6);
        background-color: rgba(0,0,0,.6);
        border-radius: 9px;
      }
      span.hidden {
        display: block;
      }
      span.show {
        display: none;
      }
      .positions {
        .position {
          width: 30%;
          .position-button {
            position: relative;
          }
          .position-button.minus {
            left: -4px;
          }
          .position-button.plus {
            right: -4px;
          }
        }
      }
    }
  }
}
